/* Клас для заголовка першого типу */
.h2-class1 {
    font-size: 24px;
    color: blue;
    text-align: center;
}

/* Клас для заголовка другого типу */
.h2-class2 {
    font-size: 22px;
    color: green;
    font-style: italic;
}

/* Клас для заголовка третього типу */
.h2-class3 {
    font-size: 26px;
    color: red;
    text-transform: uppercase;
}

.menu{
	border: 1px solid #9400D3;
    display: table-cell;
	background-color: #9400D3;
    color: white;
    padding: 20px 50px;
    font-size: 20px;
}
.p { 
	    display: table-cell;
}
.pp{
	display: none;
    position: absolute;
    background-color: #f1f1f1;
}
.pp li {
    color: black;
    padding: 12px 16px;

    display: block;
}

.pp li:hover {
	background-color: #ddd;
	}

ul:hover .pp {
	display: block;
	}
ul:hover ul {
	background-color: #8e3e8e;}
